- content_for :site_nav_right do
  = link_to 'History', wcms_components_changes_path(klass: 'PageEdition'), class: "top-nav-link"
.container.page
  = react_component('PageNavigator', {sites: @sites})
