#attachments {
  .fa.fa-cog { text-decoration: none; color: #333; }
}

form#new_attachment{
  .well {
    padding: 5px;
    margin-top: -6px;
  }
  #upload-attachment {
    width: 51%;
    display: -webkit-inline-box;
  }
}
