.gallery_photo_caption { margin-right: 10px; }
.gallery_photo_delete_button { width: 110px; border-top-left-radius: 0px; border-top-right-radius: 0px; padding: 1px; }
.extra_photo { border-bottom-left-radius: 0px; border-bottom-right-radius: 0px; border-bottom: none; }
.photo_delete_button { width: 110px; border-top-left-radius: 0px; border-top-right-radius: 0px; padding: 1px; }
.extra_photo_layout { display: inline-block; margin-right: 5px; margin-bottom: 5px; }
