target :'ruby2.staging', 'johnd1@ruby2.staging.biola.edu:/srv/rack/wcms-publisher', rails_env: 'staging'
target :'ruby6a.prod',   'johnd1@ruby6a.prod.biola.edu:/srv/rack/wcms-publisher',   rails_env: 'production'
target :'ruby6b.prod',   'johnd1@ruby6b.prod.biola.edu:/srv/rack/wcms-publisher',   rails_env: 'production'

env_scripts '/etc/profile'

rake :post_deploy
