#node_browser {
  .col-container {
    .node-col {
      width: 50%;
      float: left;
      min-height: 1px;
      border-left: 1px solid #ddd;
      border-right: 1px solid #ddd;
      margin-left: -1px;
      &:first-child { border-left: none; }
      &:last-child { border-right: none; }
    }
  }
  .node-col {
    margin: 0;
    padding: 0;

    li {
      text-align: left;
      padding: 7px 2px 6px;
      margin: 0 0px -1px 0px;
      line-height: 32px;
      list-style: none;
      position: relative;
      border: 1px solid #e5e5e5;
      border-width: 1px 0;
      font-size: 13px;
      zoom: 1;

      &:hover {
        background: #f5fafe;
        border-color: #e1eaf1;
        position: relative;
      }

      .nodename-col {
        float: left;
        height: 32px;
        width: 47%;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 5px;
        i {
          float: left;
          margin: -1px 10px -4px 0;
          font-size: 21px;
          line-height: 32px;
        }
        a {
          color: #3d464d;
          font-size: 13px;
          white-space: pre;
        }
      }
      .status-col {
        float: left;
        height: 32px;
      }
      .child-col {
        float: right;
        height: 32px;
        text-align: right;
        padding: 0 21px;
        span.text {
          padding-right: 10px;
          display: none;
        }
      }
      &:hover .child-col {
        padding-right: 10px;
        a {
          text-decoration: none;
          border: 1px solid #ccc;
          padding: 5px 10px;
          border-radius: 3px;
          background-color: #eee;
          span.text { display: inline; }
        }
      }
    }
  }
}
