@import "bourbon";
@import "biola-frontend-toolkit";



//====================================
// Base Type
//====================================
h1, h2, h3, h4, h5, h6 { font-family:'proxima-nova',Helvetica,Arial,sans-serif; font-weight:bold; }
h1, h2, h3, h4 { margin:0 0 0.75em; }
h5, h6 { margin:0 0 1.1em; }
h1 { font-size:2.57em; }
h2 { font-size:2.14em; }
h3 { font-size:1.71em; }
h4 { font-size:1.28em; }
h5 { font-size:1.00em; }
h6 { font-size:1.00em; }

p, ul, ol, dl, .lead { margin-bottom:1.2em; }

img { max-width:100%; height:auto; }

html, body { background-color: white; }

#colorbar { position: absolute; background-color: $color-biola-red; height: 70px; width: 100%; }
#directory_header, #body { position: relative; /* this is so they display above colorbar */ }
#betaBanner { background-color: #FDFFC5; }

#directory_header { margin: 15px 0; color: white;
  .container { position: relative; }
  h1 { font-weight: 400; font-size: 24px; margin: 15px;
    a { color: white; text-decoration: none; }
  }
}

.footer { border-top: 1px solid #ddd; margin: 20px 0 0; padding: 20px; text-align: center; color: #888; }
