<script id="node-list" type="text/x-handlebars-template">
  <li >
    <div class="nodename-col"><i class="fa fa-file-text-o"></i> <a href="{{url}}" target="_blank">{{title}}</a></div>
    <div class="status-col">{{status_tag this}}</div>
    {{#ifequals selected_id id}}
    {{!-- If this is the selected page on the left hand side, show a "Back" button instead of the other buttons. --}}
    <div class="child-col"><a href="#{{parent_id}}"><span class="text">Back</span> <i class="fa fa-chevron-left"></i></a></div>
    {{else}}
      {{#if has_children}}
      {{!-- The "Subpages" link will make this page the selected parent page on the left and show all the sub-pages on the right. --}}
      <div class="child-col"><a href="#{{id}}"><span class="text">Subpages</span> <i class="fa fa-chevron-right"></i></a></div>
      {{else}}
      {{!-- If there are no children show a link that will create a new child page. --}}
      <div class="child-col">
        <a href="<%= new_page_edition_url %>?site_id={{site_id}}&parent_page_id={{id}}" target="_blank">
          <span class="text">Add subpage</span> <i class="fa fa-plus-square-o"></i>
        </a>
      </div>
      {{/if}}
    {{/ifequals}}
    <div class="clearfix"></div>
  </li>
</script>

<script id="subpage-template" type="text/x-handlebars-template">
  <ol class="breadcrumb">
    {{#each breadcrumbs}}{{breadcrumb}}{{/each}}
  </ol>

  <div class="col-container">
    <ol class="node-col">
      {{#if node.root}}
        {{!-- If it is the root, just show the site name with the globe icon on the left side --}}
        <li>
          <div class="nodename-col"><i class="fa fa-globe"></i> <a href="{{node.url}}">{{node.title}}</a></div>
          <div class="clearfix"></div>
        </li>
      {{else}}
        {{!-- Loop through each of the parent pages on the left hand side --}}
        {{#each parent_node.pages}}{{> nodeList selected_id=../node.id site_id=../site_id}}{{/each}}
      {{/if}}
    </ol>
    <ol class="node-col">
      {{!-- Show all of the sub-pages for the selected parent page. --}}
      {{#each node.pages}}{{> nodeList site_id=../site_id}}{{/each}}
      {{!-- Show a message if the selected parent page doesn't have any child pages. --}}
      {{#unless node.has_children}}
      <li><div class="nodename-col">No child pages</div><div class="clearfix"></div></li>
      {{/unless}}
      {{!-- Show a link to create a new sub-page for the selected parent page. --}}
      <li><div class="nodename-col">
        <i class="fa fa-plus-square-o"></i>
        <a href="<%= new_page_edition_url %>?site_id={{site_id}}&parent_page_id={{node.id}}" target="_blank">New page</a>
      </div><div class="clearfix"></div></li>
    </ol>
  </div>
</script>
